@page "/fetchdata"

@using Gymapp1.Data
@inject WeatherForecastService ForecastService
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>HOME</title>
        <link rel="stylesheet" href="css/nicepage.css" media="screen" />
        <link rel="stylesheet" href="css/HOME.css" media="screen" />
    </head>
<body>
    <section class="u-clearfix u-section-1" id="sec-6614">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-align-center u-text u-text-default u-text-1">Sample Headline</h2>
                                <p class="u-align-center u-text u-text-default u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <img src="images/2.svg" alt="" class="u-image u-image-default u-image-1" data-image-width="400" data-image-height="265">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


@code {
   
}
